/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
}

.header__container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
/* .home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
} */

.flight-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.flight-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

/* filters */
.filter-buttons {
  display: flex;
  gap: 10px;
}

.filter-buttons__button {
  background-color: var(--primary);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.filter-buttons__button:hover {
  background-color: #14996e;
}

.filter-input {
  display: flex;
  gap: 10px;
  border: 2px solid var(--primary); /* Green border */
  border-radius: 4px;
  
}

.filter-input__input {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  background-color: #f1f1f1;
  color: #555;
}

.filter-input__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


/* Style for the 'Details' heading */
.details-button {
  background-color: #f1f1f1;
  color: #555;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}

.details-button:hover {
  background-color: #d8d8d8; /* Slightly darker grey on hover */
}


.no-flights-message {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  font-size: 0.9em;
  color: #555;
}

.error-message {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.error-message h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.error-message p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.error-message span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.error-message a {
  text-decoration: none;
}